// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  background: hsl(0, 0%, 98%);
}
body.body--dark {
  background: hsl(207, 26%, 17%);
}
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.aDark {
  color: white;
}
.bg-custom-black {
  background-color: hsl(209, 23%, 22%);
  color: white;
}
.bg-custom-black a {
  color: white;
}
.bg-custom-black b {
  font-weight: 600;
}
.bg-custom-white {
  background-color: white;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.toolbarCountries {
  padding-left: 40px;
  padding-right: 40px;
}
a {
  color: $dark;
  text-decoration: none;
}